{% extends 'film/layout.html.twig' %}

{% block body %}
    <a class="btn btn-info" href="{{ path('cocktailslisting',{'name':cockt.nom}) }}">Retour</a>
    <h2 class="page-header">Cocktail: {{ cockt.nom }}
    </h2>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr class="col_md-10 bg-info-light small">
            <td>Nom</td>
            <td>Description</td>
            <td>prix</td>
            <td>volume</td>
            <td>origine</td>
            <td>image</td>
            <td>categorie</td>
        </tr>
        </thead>
        <tr class="col_md-10 small">

            <td>{{ cockt.nom }}</td>
            <td>{{ cockt.description }}</td>
            <td>{{ cockt.prix }}</td>
            <td>{{ cockt.volume }}</td>
            <td>{{ cockt.origine }}</td>
            <td>{{ cockt.image }}</td>
            <td>{{ cockt.categorie.id }}</td>
        </tr>
    </table>
    <hr>

{% endblock %}