<div class="nav-tabs-justified page-footer small bg-secondary navbar-expand-sm">
    <div class="container navbar">
        <div class="">
            <img class="" src="{{asset('assets/images/logo.png')}}" height="60" alt=""/>
            <p> Rejoignez-nous ...</p>
            <div class="">
                <a href="#"><img src="{{asset('assets/images/facebook.png')}}" alt=""/></a>
                <a href="#"><img src="{{asset('assets/images/twitter.png')}}" alt=""/></a>
                <a href="#"><img src="{{asset('assets/images/vimeo.png')}}" alt=""/></a>
                <a href="#"><img src="{{asset('assets/images/linked.png')}}" alt=""/></a>
                <a href="#"><img src="{{asset('assets/images/flickr.png')}}" alt=""/></a>
            </div>
        </div>
        <div class="foo fl">
            <h3>Contact</h3>
            <ul class="foo_contact">
                <li><span>Adresse:</span> Rue Saint-Laurent, 33</li>
                <li><span>Tel: </span> 0497510778</li>
                <li><span>Email:</span> <a href= "mailto:azzaroots@gmail.com">azzaroots@gmail.com</a></li>
            </ul>
        </div>

        <div class="foo fl foo_bloc2">
            <h3>Derniers Tweets</h3>
            <div class="">
                <a class="twitter-timeline" href="https://twitter.com/azzaroots" data-widget-id="679063696912556032" height="80">Tweets de @azzaroots</a>
            </div>
        </div>
        <div class="foo fl foo_bloc2">
            <h3>Dernières news</h3>
            <ul class= "foo_news">
                <li><a href="#">Laudate</a></li>
                <li><a href="#">Potverdekke site</a></li>
                <li><a href="#">Nieuwe collega</a></li>
                <li><a href="#">Fantasia Land</a></li>
                <li><a href="#">Interview</a></li>
                <li><a href="#">Europa Nostra</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar bg-dark text-info">
    <div class="nav-justified centrage">
        <p> © copyright 2014 <span id="copy_r_crear">Symfonoïdes</span>. All Rights Reserved. - plan du site</p>
    </div>
</div>
